{% extends "layout.html.twig" %}

{% block title 'Ajout d\'un nouveau produit' %}
{% block content %}
    <h1>Ajout d'un nouveau produit</h1>
    
    {{ form_start(form) }}
    
    	<div class="row">{{ form_row(form.name) }}</div>
    {{ form_end(form) }}
{% endblock %}
