Un nouveau produit a été ajouté : <br/>
<ul>
	<li><strong>Nom</strong> : {{ product.name }}</li>
	<li><strong>Description</strong> : {{ product.description }}</li>
	<li><strong>Prix</strong> : {{ product.price }}</li>
</ul>