{% extends "layout.html.twig" %}

{% block title 'Accueil' %}
{% block content %}
    <h1>Bienvenue sur l'application R3d !</h1>
    <a href="{{ path('add_product') }}">Ajouter un nouveau produit</a>
{% endblock %}
